
run = "python3 -m http.server 5000 --bind 0.0.0.0"
modules = ["python-3.10:v18-20230807-322e88b"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["python3", "-m", "http.server", "5000", "--bind", "0.0.0.0"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 36691541
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"
